{% extends 'layouts/base_administrador.html' %}
{% block content %}
<div class="container bg-light">
    <form action="./" method="POST">
        {% csrf_token %}
        {{form.as_p}}
        <div class="d-flex justify-content-center">
            
            <button type="submit" value="guardar" class="btn btn-primary" name="_save" id="_save">Guardar</button>
        </div><br>
        <div class="d-flex justify-content-center"><a href="{% url 'home' %}" class="btn btn-secondary">Volver</a></div>
    </form>
</div>
{% endblock content %}
